<div class="container">


		
		<div class="row">
			<div class="col-md-6" style="margin-top:10px">
				<div class="shadow-z-0 admin-content-form">
			<h3 class="dm-h3"><span class="fa fa-thermometer-empty"></span> Registro de temperaturas:  <strong>{{date  | amDateFormat:'LL'}}</strong> </h3>
							<canvas id="line" class="chart chart-line" chart-data="temp" chart-labels="labels" chart-series="series" chart-options="options"  chart-dataset-override="datasetOverride"  chart-colors='colors' chart-click="onClick">
</canvas>
			</div></div>

						<div class="col-md-6" style="margin-top:10px">
				<div class="shadow-z-0 admin-content-form">
			<h3 class="dm-h3"><span class="flaticon-humidity"></span> Registro de Humedad:  <strong>{{date  | amDateFormat:'LL'}}</strong> </h3>
							<canvas id="line" class="chart chart-line" chart-data="hum" chart-labels="labels" chart-series="series" chart-options="options"  chart-dataset-override="datasetOverride"  chart-colors="[ '#4D5360']" chart-click="onClick">
</canvas>
			</div></div>

								<div class="col-md-6" style="margin-top:10px">
				<div class="shadow-z-0 admin-content-form">
			<h3 class="dm-h3"><span class="flaticon-co2-sign"></span> Nivel de CO2:  <strong>{{date  | amDateFormat:'LL'}}</strong> </h3>
							<canvas id="line" class="chart chart-line" chart-data="gas" chart-labels="labels" chart-series="series" chart-options="options"  chart-dataset-override="datasetOverride"  chart-colors="[ '#803690', '#00ADF9', '#DCDCDC', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360']" chart-click="onClick">
</canvas>
			</div></div>
			<div class="col-md-6" style="margin-top:10px">
				<div class="shadow-z-0 admin-content-form">
					<h3 class="dm-h3"><span class="fa fa-tasks"></span> Activar Manualmente </h3>
				<button ng-click="encender(led.rojo)" class="btn btn-block " style="background-color: #F44336">{{led.rojo.text}}</button>
				<button ng-click="encender(led.ama)" class="btn btn-block btn-warning">{{led.ama.text}}</button>
				<button ng-click="encender(led.verde)" class="btn btn-block btn-success">{{led.verde.text}}</button>
				<button ng-click="encender(led.azul)" class="btn btn-block " style="background-color: #2196F3">{{led.azul.text}}</button>
				
		    </div>
		    </div>
						
	</div>
</div>