<div class="navbar navbar-default hidden-xs" style="height: 110px;">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)"><img src="img/brand.png" alt="" class="img-responsive brand-img" style="width: 300px"></a>
      </div>
      <div class="navbar-collapse collapse navbar-warning-collapse">
          <ul class="nav navbar-nav">
             <li ng-class="{activeMenu: $route.current.activeMenu == 'lecturas'}" class="dash-box">

            <a href="#!/lecturas" class="btn btn-fase-0-menu " role="button" ng-click="activeMenu='lecturas'" ng-class="{ 'btn-info' : $route.current.activeMenu  == 'lecturas' }"  >
                 <div class="fa fa-bar-chart fa-3x fanew" style="margin: 0 !important; margin-left: -6px !important;  padding: 10px 0px !important;"></div> 
                <div id="box_2" class="icon-label"> visor de <br> Lecturas</div>
                
              </a>

             </li>
                     <li ng-class="{activeMenu: $route.current.activeMenu == 'registros'}" class="dash-box">

            <a href="#!/registros" class="btn btn-fase-0-menu " role="button" ng-click="activeMenu='registros'" ng-class="{ 'btn-info' : $route.current.activeMenu  == 'registros' }"  >
                 <div class="fa fa-history fa-3x fanew" style="margin: 0 !important;  padding: 10px 0px !important;"></div> 
                <div id="box_2" class="icon-label"> Registros <br> Históricos</div>
                
              </a>

             </li>

               <li ng-class="{activeMenu: $route.current.activeMenu == 'sensores'}" class="dash-box">

            <a href="#!/sensores" class="btn btn-fase-0-menu " role="button" ng-click="activeMenu='sensores'" ng-class="{ 'btn-info' : $route.current.activeMenu  == 'sensores' }"  >
                 <div class="fa fa-cog fa-3x fanew" style="margin: 0 !important;  padding: 10px 0px !important;"></div> 
                <div id="box_2" class="icon-label"> Configurar <br> Sensores</div>
                
              </a>

             </li>
            
          </ul>
     
 
          <ul class="nav navbar-nav navbar-right">

              <li >
                <a  href="#!/" class="btn btn-warning " ng-click="salir()">

                <i class="fa fa-sign-out fa-3x fanew" style="margin: 0 !important;  padding: 10px 0px !important;" aria-hidden="true"></i> 
                 <div id="box_2" class="icon-label"> Salir </div>
                
     </a>
              </li>
          </ul>
      </div>
  </div>
</div>

<nav class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="javascript:void(0)"><img src="img/brand.png" alt="" class="img-responsive brand-img" style="width: 200px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     <li ng-class="{activeMenu: $route.current.activeMenu == 'lecturas'}" class="">

            <a href="#!/lecturas"  class="btn btn-info " ng-click="activeMenu='lecturas'"  >
               <i class="fa fa-bar-chart "></i> visor de Lecturas
            </a>
          </li>
 <li role="separator" class="divider"></li>
                          <li ng-class="{activeMenu: $route.current.activeMenu == 'registros'}" class="">

            <a href="#!/registros" class="btn btn-primary " ng-click="activeMenu='registros'"  >
                <i class="fa fa-history "></i>  Registros  Históricos
                
              </a>

             </li>

               <li ng-class="{activeMenu: $route.current.activeMenu == 'sensores'}" class="">

            <a href="#!/sensores" class="btn btn-success " role="button" ng-click="activeMenu='sensores'"  >
                 
               <i class="fa fa-cog "></i> Configurar Sensores
                
              </a>

             </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li >
                <a  href="#!/" class="btn btn-warning " ng-click="salir()">

              <i class="fa fa-sign-out "></i> Salir 
                
     </a>
              </li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>